
<section class="coupons">
  <% @merchant.coupons.each do |coupon| %>
    <div id="coupon_<%= coupon.id %>">
      <p>Coupon Name: <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %></p>
      <p>Coupon Amount Off: <%= coupon.value %></p>
      <p>Coupon Type: <%= coupon.value_type %></p>
    </div>
  <% end %>
</section>

<section id="new_coupon">
  <%= link_to "Create New Coupon", new_merchant_coupon_path(@merchant) %>
</section>

<section id="activated_coupons">
  <h4>Activated Coupons</h4>
    <% @merchant.activated_coupons.each do |coupon| %>
      <div id="coupon_<%= coupon.id %>">
      <p>Coupon Name: <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %></p>
      <p>Coupon Amount Off: <%= coupon.value %></p>
      <p>Coupon Type: <%= coupon.value_type %></p>
    </div>
    <% end %>
</section>

<section id="deactivated_coupons">
  <h4>Deactivated Coupons</h4>
    <% @merchant.deactivated_coupons.each do |coupon| %>
      <div id="coupon_<%= coupon.id %>">
      <p>Coupon Name: <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %></p>
      <p>Coupon Amount Off: <%= coupon.value %></p>
      <p>Coupon Type: <%= coupon.value_type %></p>
    </div>
    <% end %>
</section>