<h1><%= @coupon.name %> Show Page</h1>

<p>Code: <%= @coupon.code %></p>
<p>Value: <%= @coupon.value %></p>
<p>Value Type: <%= @coupon.value_type %></p>
<p>Coupon Activated?: <%= @coupon.activated %></p>
<p>Times Used: <%= @coupon.times_used %></p>

<% if @coupon.activated == true %>
  <%= button_to "Deactivate #{@coupon.name}", merchant_coupon_path(@merchant, @coupon), method: :patch, params: {activated: false} %>
<% else %>
  <%= button_to "Activate #{@coupon.name}", merchant_coupon_path(@merchant, @coupon), method: :patch, params: {activated: true} %>
<% end %>